<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.finalwork.mapper.ArticleMapper">
<!--    动态Sql-->
    <select id="list" resultType="org.finalwork.pojo.Article">
        SELECT * FROM article
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>

            <if test="state != null ">
                AND state = #{state}
            </if>

            AND create_user=#{userId}
        </where>
    </select>
</mapper>